

.one-line-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: space-between;
    gap: 10px;
}

.controls-wrapper {
    display: flex;
    justify-content: space-between;
}
.controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

button {
    width: 75px;
    height: 75px
}