input:not(.signature > input){
    margin-right: .5em;
}
input {
    width: 30px;
}
label {
    font-size: .7em;
    margin-right: .5em;
    width: 30px;
    display: inline-block;
    text-align: left
}
.signature-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.controls-wrapper {
    display: flex;
    justify-content: space-between;
}
.on-off{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:10px;
}
button {
    width: 75px;
    height: 75px
}